<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset = "UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>{% block title %}{% endblock %}</title>
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='css/mystyle.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark nav-bg"> 
                
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
    
                    <img src="../static/img/vinyl.png"width="30" height="30" alt="Jukebox Jams Logo">
                    Jukebox Jams
                
                </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNav" aria-controls="navbarNav" x 
                aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Vinyls</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Vinyl.name) }}">7-Inch</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Vinyl.name) }}">10-Inch</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Vinyl.name) }}">12-Inch</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Accessories</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Accessory.name) }}">Needles</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Accessory.name) }}">Motors</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Accessory.name) }}">Tonearms</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Accessory.name) }}">Shelves</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Accessory.name) }}">Cleaning</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Turntables</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Player.name) }}">Automatic Tables</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_list', type = ProductType.Player.name) }}">Manual Tables</a>    
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline col"style="">
                        <input class="form-control mr-md-2 col-lg-4 col-12 searchForm ml-auto" type="search" placeholder="Search"aria-label="Search">
                        <a class="btn btn-light my-md-0 col-lg-2 col-sm-12 searchForm text-center" type="submit"href="{{ url_for('main.item_list') }}">Submit</a>
                    </form>  
                    <div class="nav-item dropdown">
                        
                        <!-- logged 0=logged out, 1 = seller, 2 = buyer -->
                        {% if session['logged'] == 0 %}
                            <a data-toggle="dropdown" class=" nav-item nav-link dropdown-toggle btn-primary" href="#" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item dropdown-title font-weight-bold disabled">Not logged in</a>
                                <a class="dropdown-item" href="{{ url_for('main.register') }}">Register</a>
                                <a class="dropdown-item" href="{{ url_for('main.authenticate') }}">Login</a>
                            </ul>
                        {% elif session['logged'] == 1 %}
                            <a data-toggle="dropdown" class=" nav-item nav-link dropdown-toggle btn-primary" href="#" aria-expanded="false">{{ userName }}</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item dropdown-title font-weight-bold disabled">Seller</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_create') }}">Create Item</a>
                                <a class="dropdown-item" href="#">My Items</a>
                                <a class="dropdown-item dropdown-title font-weight-bold disabled">Account</a>
                                <a class="dropdown-item" href="#"data-toggle="modal" data-target="#signOutModal">Sign Out</a>
                            </ul>
                        {% else %}
                            <a data-toggle="dropdown" class=" nav-item nav-link dropdown-toggle btn-primary" href="#" aria-expanded="false">{{ userName }}</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item dropdown-title font-weight-bold disabled">Buyer</a>
                                <a class="dropdown-item" href="{{ url_for('main.item_create') }}">My orders</a>
                                <a class="dropdown-item dropdown-title font-weight-bold disabled">Account</a>
                                <a class="dropdown-item" href="#"data-toggle="modal" data-target="#signOutModal">Sign Out</a>
                            </ul>
                        {% endif %}
                        
                    </div>
                </div>
            
    
                <!-- Navbar Modals  -->
                <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signOutModalLabel">Signing Out</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Are you sure you want to sign out?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
                                <button type="button" data-dismiss="modal" class="btn btn-primary"data-toggle="modal" data-target="#signedOutModal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="signedOutModal" tabindex="-1" role="dialog" aria-labelledby="signedOutModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signedOutModalLabel">Signed Out</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Successfully sign out. Thank you for visiting Jukebox Jams!
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-primary">Dismiss</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
    
            <div class=" jumbotron-fluid col">
                    <h1 class="home-title col-12 display-1">
                        Welcome to Jukebox Jams!
                    </h1>
                </div>
        </header>

        <div id="content">{% block content %}{% endblock %}</div>

        <div class="container-fluid bd-footer"><!-- FOOTER  -->
            <hr>
            <div class="center-block">
                <div class="row">
                    
                    <div class="col-xs-12 col-sm-8 mr-auto foot" >
                        @ 2020 Jukebox Jams Copyright. All rights Reserved.
                    </div>
                    <div class="col-xs-12 col-sm-4 foot"style="text-align: right;">
                        Terms and Conditions | Privacy Policy
                    </div>
                </div>
            </div>
    
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>