<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jukebox Jams</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='css/mystyle.css') }}"/>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark nav-bg"> 
            
            <a class="navbar-brand" href="../templates/index.html">
    
                <img src="../static/img/vinyl.png"width="30" height="30" alt="Jukebox Jams Logo">
                Jukebox Jams
            
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" x 
            aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Vinyls</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../templates/item_list.html">7-Inch</a>
                            <a class="dropdown-item" href="../templates/item_list.html">10-Inch</a>
                            <a class="dropdown-item" href="../templates/item_list.html">12-Inch</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Artist</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Accessories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../templates/item_list.html">Needles</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Motors</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Tonearms</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Shelves</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Cleaning</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">Turntables</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../templates/item_list.html">Automatic Tables</a>
                            <a class="dropdown-item" href="../templates/item_list.html">Manual Tables</a>    
                        </div>
                    </li>
                </ul>
                <form class="form-inline col"style="">
                    <input class="form-control mr-md-2 col-lg-4 col-12 searchForm ml-auto" type="search" placeholder="Search"aria-label="Search">
                    <a class="btn btn-light my-md-0 col-lg-2 col-sm-12 searchForm text-center" type="submit"href="../templates/item_list.html">Submit</a>
                </form>  
                <div class="nav-item dropdown">
                    <a data-toggle="dropdown" class=" nav-item nav-link dropdown-toggle btn-primary" href="#" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item dropdown-title font-weight-bold disabled">Seller</a>
                        <a class="dropdown-item" href="../templates/item_create.html">Create Item</a>
                        <a class="dropdown-item" href="#">My Items</a>
                        <a class="dropdown-item dropdown-title font-weight-bold disabled">Account</a>
                        <a class="dropdown-item" href="#"data-toggle="modal" data-target="#signOutModal">Sign Out</a>
                    </ul>
                </div>
            </div>
        

            <!-- Navbar Modals  -->
            <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="signOutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="signOutModalLabel">Signing Out</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                Are you sure you want to sign out?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary"data-toggle="modal" data-target="#signedOutModal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="signedOutModal" tabindex="-1" role="dialog" aria-labelledby="signedOutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="signedOutModalLabel">Signed Out</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                Successfully sign out. Thank you for visiting Jukebox Jams!
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class=" jumbotron-fluid col">
                <h1 class="home-title col-12 display-1">
                    Welcome to Jukebox Jams!
                </h1>
          </div>
    </header>

    <div class="bd-content">
        <div class="bd-header-3 text-center" style="padding-top:20px;padding-bottom:40px;">
            Your one stop shop for all things Record and Vinyl!
        </div>
    </div>
    <div class="container-fluid col row" style="margin-bottom:20px;"> <!-- Category Selection -->

        <div class="card-img-fluid col-12 col-sm-4 catcard inner flex-column">
            <img class="card-img-top catcard inner rounded-0" src="../static/img/record-shop.jpg" alt="Vinyl Shop Image">
            <div class="card-body card-img-overlay text-center">
              <h5 class="card-title">View our Vinyl collection!</h5>
              <a href="../templates/item_list.html" class="btn btn-primary">View Vinyls</a>
            </div>
        </div>
        <div class="card-img-fluid col-12 col-sm-4 catcard inner">
            <img class="card-img-top catcard inner rounded-0" src="../static/img/accessory.jpg" alt="Accessory Image">
            <div class="card-body card-img-overlay text-center">
                <h5 class="card-title">Explore our accessories!</h5>
                <a href="../templates/item_list.html" class="btn btn-primary">View Accessories</a>
            </div>
        </div>
        <div class="card-img-fluid col-12 col-sm-4 catcard inner">
            <img class="card-img-top catcard inner rounded-0"  src="../static/img/vintage-player.jpg" alt="Vintage Record Player">
            <div class="card-body card-img-overlay text-center">
                <h5 class="card-title">Buy yourself a Turntable!</h5>
                <a href="../templates/item_list.html" class="btn btn-primary">View Turntables</a>
            </div>
        </div>
    </div>
    <section>  <!-- Featured Items Section -->
        <div class="bd-content">
            <a href="../templates/item_list.html">
                <div class="bd-header-2">
                    Top Hit Records:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12 ">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                
            </div>
        <hr>
        <div class="bd-content products">
            <a href="../templates/item_list.html">
                <div class="bd-header-2">
                        Recommended Accessories:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                
            </div>
    
        </div>
        <hr>
        <div class="bd-content produts">
            <a href="../templates/item_list.html">
                <div class="bd-header-2">
                    Popular Turntables:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$19.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="../templates/item_details.html" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </section> <!-- End Item list Section -->
    
    <div class="bd-content">
        <hr>
        <div class="bd-header-1">
            About Jukebox Jams
        </div>
        <div class="bd-paragraph text-center">
            Syha'h nnnhupadgh cShub-Niggurath nalloig llll uh'eyar nagnaiih, stell'bsnaog phlegeth 'bthnk uln ee, bug gnaiih Shub-Niggurath lloig ebunma. Ron sgn'wahl 'fhalma Azathoth Tsathoggua throd grah'n nogoth shtungglinyth gnaiih fm'latgh ronoth bug wgah'n r'luh, nglui Chaugnar Faugn cR'lyeh mg uln nog tharanak shagg sgn'wahl nashogg gotha syha'h. Chtenff hafh'drnog Dagon mg tharanak ah, ya gof'nn n'gha R'lyeh y-goka, vulgtlagln shtunggli 'bthnk phlegeth. R'luh Tsathoggua ph'Yoggoth cshogg phlegeth uaaah Azathoth, uh'eoth hrii gotha stell'bsna li'hee wgah'n, cphlegeth gnaiih y'hah 'bthnk lloig. Uh'e naflShub-Niggurath zhro kn'a Yoggoth Shub-Niggurath fhtagn Shub-Niggurath R'lyeh ehye, shogg syha'h ph'geb goka n'gha nw throd ooboshu ph'mnahn', R'lyeh 'bthnk ngshtunggli Chaugnar Faugn ph'Cthulhu ya ph'y'hah grah'n. 

            Gof'nn nilgh'ri chtenff ee ep nnnnog 'ai chupadgh kadishtu uaaah bug.
        </div>
    </div>

    <div class="container-fluid bd-footer"><!-- FOOTER  -->
        <hr>
        <div class="center-block">
            <div class="row">
                
                <div class="col-xs-12 col-sm-8 mr-auto foot" >
                    @ 2020 Jukebox Jams Copyright. All rights Reserved.
                </div>
                <div class="col-xs-12 col-sm-4 foot"style="text-align: right;">
                    Terms and Conditions | Privacy Policy
                </div>
            </div>
        </div>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>