{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="bd-content">
        <div class="bd-header-3 text-center" style="padding-top:20px;padding-bottom:40px;">
            Your one stop shop for all things Record and Vinyl!
        </div>
    </div>
    <div class="container-fluid col row" style="margin-bottom:20px;"> <!-- Category Selection -->

        {% with title="View our Vinyl Collection!", image="record-shop.jpg", buttonText="View Vinyls" %}
            {% include "category.html" %}
        {% endwith %}

        {% with title="Explore our Accessories!", image="accessory.jpg", buttonText="View Accessories" %}
            {% include "category.html" %}
        {% endwith %}

        {% with title="Buy a Turntable!", image="vintage-player.jpg", buttonText="View Turntables" %}
            {% include "category.html" %}
        {% endwith %}

    </div>
    <section>  <!-- Featured Items Section -->
        <div class="bd-content">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                    Top Hit Records:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12 ">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                
            </div>
        <hr>
        <div class="bd-content products">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                        Recommended Accessories:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/turntable-hand.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Helpful Accessory</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
        <hr>
        <div class="bd-content produts">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                    Popular Turntables:
                </div>
            </a>
            <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$19.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/red-turntable-3624281.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Amazing Turntable</h5>
                                <p class="card-text">$149.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section> <!-- End Item list Section -->

    <div class="bd-content">
        <hr>
        <div class="bd-header-1">
            About Jukebox Jams
        </div>
        <div class="bd-paragraph text-center">
            Syha'h nnnhupadgh cShub-Niggurath nalloig llll uh'eyar nagnaiih, stell'bsnaog phlegeth 'bthnk uln ee, bug gnaiih Shub-Niggurath lloig ebunma. Ron sgn'wahl 'fhalma Azathoth Tsathoggua throd grah'n nogoth shtungglinyth gnaiih fm'latgh ronoth bug wgah'n r'luh, nglui Chaugnar Faugn cR'lyeh mg uln nog tharanak shagg sgn'wahl nashogg gotha syha'h. Chtenff hafh'drnog Dagon mg tharanak ah, ya gof'nn n'gha R'lyeh y-goka, vulgtlagln shtunggli 'bthnk phlegeth. R'luh Tsathoggua ph'Yoggoth cshogg phlegeth uaaah Azathoth, uh'eoth hrii gotha stell'bsna li'hee wgah'n, cphlegeth gnaiih y'hah 'bthnk lloig. Uh'e naflShub-Niggurath zhro kn'a Yoggoth Shub-Niggurath fhtagn Shub-Niggurath R'lyeh ehye, shogg syha'h ph'geb goka n'gha nw throd ooboshu ph'mnahn', R'lyeh 'bthnk ngshtunggli Chaugnar Faugn ph'Cthulhu ya ph'y'hah grah'n. 

            Gof'nn nilgh'ri chtenff ee ep nnnnog 'ai chupadgh kadishtu uaaah bug.
        </div>
    </div>

    <div class="container-fluid bd-footer"><!-- FOOTER  -->
        <hr>
        <div class="center-block">
            <div class="row">
                
                <div class="col-xs-12 col-sm-8 mr-auto foot" >
                    @ 2020 Jukebox Jams Copyright. All rights Reserved.
                </div>
                <div class="col-xs-12 col-sm-4 foot"style="text-align: right;">
                    Terms and Conditions | Privacy Policy
                </div>
            </div>
        </div>

    </div>

{% endblock %}