{% extends "base.html" %}


{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="bd-content">
        <div class="bd-header-3 text-center" style="padding-top:20px;padding-bottom:40px;">
            Your one stop shop for all things Record and Vinyl!
        </div>
    </div>
    <div class="container-fluid col row" style="margin-bottom:20px;"> <!-- Category Selection -->

        {% with title="View our Vinyl Collection!", image="record-shop.jpg", buttonText="View Vinyls" %}
            {% include "./components/category.html" %}
        {% endwith %}

        {% with title="Explore our Accessories!", image="accessory.jpg", buttonText="View Accessories" %}
            {% include "./components/category.html" %}
        {% endwith %}

        {% with title="Buy a Turntable!", image="vintage-player.jpg", buttonText="View Turntables" %}
            {% include "./components/category.html" %}
        {% endwith %}

    </div>
    <section>  <!-- Featured Items Section -->

        <div class="bd-content">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                    Top Hit Records:
                </div>
            </a>
            <div class="row products-list">
                {% with image="vinyl-record.jpg", itemName="Super Dope Album!", price="6.99", stock=true %}
                    {% include "./components/item_card.html" %}
                {% endwith %}
            </div>
        </div>

        <hr>

        <div class="bd-content products">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                        Recommended Accessories:
                </div>
            </a>
            <div class="row products-list">
                {% with image="turntable-hand.jpg", itemName="Helpful Accessory", price="4.20", stock=false %}
                    {% include "./components/item_card.html" %}
                {% endwith %}
            </div>
        </div>

        <hr>

        <div class="bd-content produts">
            <a href="{{ url_for('main.item_list') }}">
                <div class="bd-header-2">
                    Popular Turntables:
                </div>
            </a>
            <div class="row products-list">
                {% with image="red-turntable-3624281.jpg", itemName="Amazing Turntable", price="10.01", stock=true %}
                    {% include "./components/item_card.html" %}
                {% endwith %}
            </div>
        </div>

    </section> <!-- End Item list Section -->

    <div class="bd-content">
        <hr>
        <div class="bd-header-1">
            About Jukebox Jams
        </div>
        <div class="bd-paragraph text-center">
            Syha'h nnnhupadgh cShub-Niggurath nalloig llll uh'eyar nagnaiih, stell'bsnaog phlegeth 'bthnk uln ee, bug gnaiih Shub-Niggurath lloig ebunma. Ron sgn'wahl 'fhalma Azathoth Tsathoggua throd grah'n nogoth shtungglinyth gnaiih fm'latgh ronoth bug wgah'n r'luh, nglui Chaugnar Faugn cR'lyeh mg uln nog tharanak shagg sgn'wahl nashogg gotha syha'h. Chtenff hafh'drnog Dagon mg tharanak ah, ya gof'nn n'gha R'lyeh y-goka, vulgtlagln shtunggli 'bthnk phlegeth. R'luh Tsathoggua ph'Yoggoth cshogg phlegeth uaaah Azathoth, uh'eoth hrii gotha stell'bsna li'hee wgah'n, cphlegeth gnaiih y'hah 'bthnk lloig. Uh'e naflShub-Niggurath zhro kn'a Yoggoth Shub-Niggurath fhtagn Shub-Niggurath R'lyeh ehye, shogg syha'h ph'geb goka n'gha nw throd ooboshu ph'mnahn', R'lyeh 'bthnk ngshtunggli Chaugnar Faugn ph'Cthulhu ya ph'y'hah grah'n. 

            Gof'nn nilgh'ri chtenff ee ep nnnnog 'ai chupadgh kadishtu uaaah bug.
        </div>
    </div>

{% endblock %}