{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>
    <div class="bd-header-2">
        Vinyl Record Collection:
    </div>

    <section> <!--  Product Category Filter   -->
        <div class="col-10 category-filter">
            <h4 class="bd-header-3 text-white text-center">Filter by Category:</h4>
            <div class="row text-center ">
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="" checked="checked" >7-Inch</label>
                    </h5>
                </div>
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="">10-Inch</label>
                    </h5>
                </div>
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="">12-Inch</label>
                    </h5>
                </div>
            </div>
        </div>
        
    </section>

    <section>  <!-- Items list Section -->
        <div class="bd-content">
            {% with products = vinyls, title = "Top Records:" %}
                    {% include "./components/item_card.html" %}
            {% endwith %}
            <!-- <div class="row products-list">
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-success">In Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
                <div class="products col-xl-2 col-md-4 col-sm-6 col-12">
                    <div class="card my-3 products-card card-body text-right">
                        <div class="media">
                            <img class="card-img align-self-start mr-3" src="../static/img/vinyl-record.jpg" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right">
                                <h5 class="mt-0">Cool Album Name</h5>
                                <p class="card-text">$49.99</p>
                            </div>
                        </div>
                        <a class="text-danger">Out of Stock!</a>
                        <div class="text-center">
                            <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                        </div>
                    </div>
                </div>
            </div> -->
    
        </div>
    </section> <!-- End Featured Items Section -->

{% endblock %}