{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>

    <section>  <!-- Product Details -->
        
        <div class="bd-content products">
            <div class="product-details">
                <div class="row">
                    <div class="products-img col-12 col-md-3">

                        <img class="mx-auto d-block rounded  img-thumbnail " src="static/img/{{ product.id }}/{{ product.image }}" alt="Card image ">

                    </div>
                    <div class="col-12 col-md-9">
                        <div class="bd-header-1" style="color: black;">{{ product.item_name }}</div>
                            <div class="row">
                                <div class="bd-header-3 col-8">Item Price:</div>
                                <div class="bd-header-3 col-4" style="text-align: right;">${{ product.price }}</div>
                            </div>
                            <div class="row">
                                <div class="bd-header-3 col-8">Stock Available:</div>
                                <div class="bd-header-3 col-4" style="text-align: right;">{{ product.stock }}</div>
                            </div>
                            {{ wtf.quick_form(form) }}
                            <div class="col text-center col-12 col-md-4 ml-auto" style="padding-top: 20px;">
                                <button class="bd-header-3 btn-primary col-8" data-toggle="modal" data-target="#orderModal">Order Item</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="orderModalLabel">Order Placed</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            Your order was successfully placed! Your order ID is:
                        </div>
                        <div>
                            ###-####-###-##
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal"class="btn btn-secondary">Dismiss</button>
                        <a href="{{ url_for('main.index') }}">
                            <button type="button" class="btn btn-primary">Return Home</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End Page Body Section -->

   
    <div class="bd-content">
        {% if similarProducts %}
            {% with products = similarProducts, type = product.category.name, title = "Similar Products:" %}
                    {% include "./components/item_card.html" %}
            {% endwith %}
        {% endif %}
    </div>

{% endblock %}