{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>
    <div class="bd-header-2">{{ header }}</div>

    {% if not (arg is none) %}
        {% with form = filterForm %}
            {% include "./components/category_filter.html" %}
        {% endwith %}
    {% endif %}

    <section>  <!-- Items list Section -->
        <div class="bd-content">
            {% with products = prodlist %}
                    {% include "./components/item_card.html" %}
            {% endwith %}
        </div>
    </section> <!-- End Featured Items Section -->

{% endblock %}

{% if not (arg is none) %}
    {% block scripts %}
    <script charset="utf-8" type="text/javascript">
        $(function() {
            //jQuery to get the dropdowns
            var dropdown = {
                pt: $('#select_product_type'),
                ptn: $('#select_product_type_name'),
                st: $('#select_sub_type'),
                std: $('#select_sub_type_def')
            };

            //Call to update dropdowns on load
            updateSubTypes();

            //Function to call XHR and update the subtypes dropdown
            function updateSubTypes() {
                var send = {
                pt: dropdown.pt.val()
                };
                dropdown.st.attr('disabled', 'disabled');
                dropdown.st.empty();
                $.getJSON("{{ url_for('product._get_subtypes') }}", send, function(data) {
                    dropdown.st.append(
                        $('<option>', {
                            value: "All",
                            text: "All"
                        })
                    );
                data.forEach(function(item) {
                    dropdown.st.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                    );
                });
                if (dropdown.std.val() != "None") {
                    dropdown.st.val(dropdown.std.val());
                }                
                dropdown.st.removeAttr('disabled');
                });
            }

            function updateCards() {
                var my_url = "{{ url_for('main.item_list') }}"
                if (dropdown.st.val() == "All") {
                    window.location.replace(my_url + "?type=" + dropdown.ptn.val());
                }
                else {
                    window.location.replace(my_url + "?type=" + dropdown.ptn.val() + "&subtype=" + dropdown.st.val());
                }
            }

            //Event listerner for product type dropdown change
            dropdown.st.on('change', function() {
                updateCards();
            });
        });
    </script>
    {% endblock %}
{% endif %}