{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>

    <section>  <!-- Product Details -->
        
        <div class="bd-content products">
            <div class="product-details">
                <div class="row">
                    <div class="products-img col-12 col-md-3">

                        <img class="mx-auto d-block rounded  img-thumbnail " src="/static/img/{{ product.id }}/{{ product.image }}" alt="Card image ">

                    </div>
                    <div class="col-12 col-md-9">
                        <div class="bd-header-1" style="color: black;">{{ product.item_name }}</div>
                            <div class="row">
                                <div class="bd-header-3 col-8">Item Price:</div>
                                <div class="bd-header-3 col-4" style="text-align: right;">${{ product.price }}</div>
                            </div>
                            <div class="row">
                                <div class="bd-header-3 col-8">Stock Available:</div>
                                <div class="bd-header-3 col-4" style="text-align: right;">{{ product.stock }}</div>
                            </div>
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <div class="bd-content">
        {% if similarProducts %}
            {% with products = similarProducts, type = product.category.name, title = "Similar Products:" %}
                    {% include "./components/item_card.html" %}
            {% endwith %}
        {% endif %}
    </div>

{% endblock %}