{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>
    <div class="bd-header-2">
        Vinyl Record Collection:
    </div>

    <section> <!--  Product Category Filter   -->
        <div class="col-10 category-filter">
            <h4 class="bd-header-3 text-white text-center">Filter by Category:</h4>
            <div class="row text-center ">
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="" checked="checked" >7-Inch</label>
                    </h5>
                </div>
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="">10-Inch</label>
                    </h5>
                </div>
                <div class="col-12 col-md">
                    <h5>
                        <label class="checkbox text-white"><input type="checkbox" value="">12-Inch</label>
                    </h5>
                </div>
            </div>
        </div>
        
    </section>

    <section>  <!-- Items list Section -->
        <div class="bd-content">
            {% with products = prodlist%}
                    {% include "./components/item_card.html" %}
            {% endwith %}
        </div>
    </section> <!-- End Featured Items Section -->

{% endblock %}