{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>

    <section>  <!-- Product Details -->
        
        <div class="bd-content products">
            
            <div class="product-details">
                <div class="row">
                    <div class="products-img col-12 col-md-3">

                        <img class=" mx-auto d-block rounded  img-thumbnail " src="../static/img/vinyl-record.jpg" alt="Card image ">
                        <div class="bd-content bd-header-3">
                            Product Image
                        </div>
                        <div class="input-group">
                            <!-- <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div> -->
                            <form action="/action_page.php">
                                <label for="myfile">Select files:</label>
                                <input type="file" id="myfile" name="myfile" multiple accept="image/x-png,image/gif,image/jpeg"><br><br>
                                <input type="submit">
                            </form> 
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        
                        <form>
                            <div class="form-group">
                                <div class="bd-header-3" style="color: black;">Product Title:</div>
                                <input type="text" class="form-control" placeholder="Enter Product Title...">
                                <div class="bd-header-3" style="color: black;">Product Category:</div>
                                <select class="form-control" id="sel1">
                                    <option>Vinyl Record</option>
                                    <option>Accessory</option>
                                    <option>Turntables</option>
                                  </select>
                                <div class="bd-header-3" style="color: black;">Product Subcategory:</div>
                                <select class="form-control" id="sel1">
                                    <option>Subcategory 1</option>
                                    <option>Subcategory 2</option>
                                    <option>Subcategory 3</option>
                                  </select>
                                <div class="bd-header-3" style="color: black;">Product Artist/Manufacturer:</div>
                                <input type="text" class="form-control" placeholder="Enter Artist/Manufacturer...">

                                <div class="bd-header-3" style="color: black; margin-bottom: 5px;">Monthly Stock Availability:</div>
                                <input type="number" id="replyNumber" min="0" step="1" data-bind="value:replyNumber">
                                
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="bd-header-2">Product Description:</div>
                <div class="bd-content"> <!--Product information -->
                    <form>
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Enter Product Description..." required style="min-height: 5rem;max-height: 15rem;"></textarea>
                            
                          </div>
                    </form>
                </div>

                <button class="bd-header-3 btn-primary col stick" style="padding:1rem; "data-toggle="modal" data-target="#createModal">Create Item</button>
            </div>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Create Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Your product was successfully created!
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('main.index') }}">
                            <button type="button" class="btn btn-secondary">Dismiss</button>
                        </a>
                        <a href="{{ url_for('main.item_create') }}">
                            <button type="button" class="btn btn-primary">Create Another Product</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End Featured Items Section -->

{% endblock %}