{% extends "base.html" %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>

    <div class="bd-header-2 col-12 col-sm-7"> Your Orders:</div>

    
    <section>  <!-- Items list Section -->
        <div class="bd-content">
            {% with order = ordlist %}
                    {% include "./components/order_card.html" %}
            {% endwith %}
        </div>
    </section> <!-- End Featured Items Section -->

{% endblock %}

