{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Jukebox Jams{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!-- <main class="container-fluid"> -->
    <div class="hd-back"> <!--Back button-->
        <a class="hd-back-text" href="javascript:history.back()">
            <span aria-hidden="true">&laquo;</span>
            Return to previous page
        </a>
    </div>

    <section>  <!-- Product Details -->
        
        <div class="bd-content products">
            
            <div class="product-details">
                <div class="row">
                    <div class="products-img col-12 col-md-3">

                        <img class="mx-auto d-block rounded  img-thumbnail " src="../static/img/{{ product.id }}/{{ product.image }}" alt="Card image">

                    </div>
                    <div class="col-12 col-md-9">
                        <div class="bd-header-1" style="color: black;">{{ product.item_name }}</div>
                        <div class="row">
                            <div class="products col-12 col-md-6">
                                <div class="row">
                                    <div class="bd-header-3 col-12">Manufacturer: {{ product.item_manufacturer }}</div>
                                    <div class="bd-header-3 col-12">Category: {{ product.category.name }}</div>
                                    <div class="bd-header-3 col-sm-7 col-12">Subcategory: {{ product.subcategory.value.value }}</div>
                                    
                                </div>
                                <div class="bd-header-3" style="padding-left: 15px;">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>

                            <div class="products col-12 col-md-6 text-center">
                                <div class="row">
                                    <div class="bd-header-3 col-8 text-left">Price:</div>
                                    <div class="bd-header-3 col-4" style="text-align: right;">${{ product.price }}</div>
                                </div>
                                <div class="row">
                                    <div class="bd-header-3 col-8 text-left">Stock Available:</div>
                                    <div class="bd-header-3 col-4" style="text-align: right;">{{ product.stock }}</div>
                                </div>
                                <div class="row">
                                    <div class="bd-header-3 col-8 text-left">Date Posted:</div>
                                    <div class="bd-header-3 col-4" style="text-align: right;">{{ created_date }}</div>
                                </div>
                                <a href="{{ url_for('main.item_order') }}"class="">
                                    <button class="bd-header-3 btn-primary col-8 col-md-6" style="margin: 20px;">Order Item</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="bd-header-2">Description:</div>
                <div> <!--Product information -->
                    {{ product.description }}
                </div>
            </div>
        </div>


    </section> <!-- End Featured Items Section -->
    <hr>

    <div class="product-details"> <!-- REVIEWS  -->
        <div class="bd-header-2">Reviews:</div>

        <div class="card card-comment" style="width:auto;margin-bottom: 25px;">
            <div class="row">
                <div class="profile-img col-4 col-md-1">
                    <img class="card-img" src="../static/img/profile-pic.jpg" alt="Card image">
                </div>
                <div class="comment-body col-8 col-md-11 row">
                    <h4 class="bd-header-3 col-12 col-md-4 text-md-left text-right">User Name</h4>
                    <div class="bd-header-3 col-12 col-md-4 text-md-center text-right d-flex">
                        <span class="fa fa-star ml-auto"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star mr-md-auto"></span>
                    </div>  
                    <h4 class="bd-header-3 col-12 col-md-4 text-right">Posted: 20/02/2020</h4>                    
                </div>
                
            </div>
            <hr style="margin: 0px;">
            <div class="form-group" style="margin: 0;">
                <textarea type="text" class="form-control" id="review_text" placeholder="Enter your review here..." maxlength="250" required style="max-height: 6rem;min-height: 3rem;"></textarea>
            </div>
            <button class="btn-primary" data-toggle="modal" data-target="#reviewModal">Submit Review</button>
        </div>

        {{ wtf.quick_form(form, "products/{0}/comment".format(product.id)) }}

        {% for comment in product.comments %}
        <div class="card card-comment" style="width:auto;">
            <div class="row">
                <div class="profile-img col-4 col-md-1">
                    <img class="card-img" src="../static/img/profile-pic.jpg" alt="Card image">
                </div>
                <div class="comment-body col-8 col-md-11 row">
                    <h4 class="bd-header-3 col-12 col-md-4 text-md-left text-right">{{ comment.user_id }}</h4>
                    <div class="bd-header-3 col-12 col-md-4 d-flex">
                        <span class="fa fa-star checked ml-auto"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star mr-md-auto"></span>
                    </div>  
                    <h4 class="bd-header-3 col-12 col-md-4 text-right">{{ comment.created_date}}</h4>   
                </div>
                
            </div>
            <hr style="margin: 0px;">
            <div class="comment-text">
                {{ comment.text }}
            </div> 
        </div>
        {% endfor %}
        
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Post Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Review Posted!
                    </div>
                    <div class="modal-footer">
                        <a href="">
                            <button type="button" class="btn btn-primary">Dismiss</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}