{% import "bootstrap/wtf.html" as wtf %}

<section> <!--  Product Category Filter   -->
    <div class="col-10 category-filter">
        <h4 class="bd-header-3 text-white text-center">Filter by Category:</h4>
        <div class="row text-center ">
            <input type="hidden" value="{{ request.args.get('type') }}" id="select_product_type"/>
            {{ wtf.quick_form(form) }}
        </div>
    </div>        
</section>

{% block scripts %}
  <script charset="utf-8" type="text/javascript">
    $(function() {
      //jQuery to get the dropdowns
      var dropdown = {
        pt: $('#select_product_type'),
        st: $('#select_sub_type')
      };

      //Call to update dropdowns on load
      updateSubTypes();

      //Function to call XHR and update the subtypes dropdown
      function updateSubTypes() {
        var send = {
          pt: dropdown.pt.val()
        };
        dropdown.st.attr('disabled', 'disabled');
        dropdown.st.empty();
        $.getJSON("{{ url_for('product._get_subtypes') }}", send, function(data) {
          data.forEach(function(item) {
            dropdown.st.append(
              $('<option>', {
                value: item[0],
                text: item[1]
            })
            );
          });
          dropdown.st.removeAttr('disabled');
        });
      }

      //Event listerner for product type dropdown change
      dropdown.pt.on('change', function() {
        updateSubTypes();
      });

    });
  </script>
{% endblock %}

<!--
{% for option in options %}
    <div class="col-12 col-md">
        <h5>
            {% if request.args.get('subtype') == option[0] %}
                <label class="checkbox text-white"><input type="checkbox" value={{option[0]}} checked="checked" >{{option[1]}}</label>
            {% else %}
                <label class="checkbox text-white"><input type="checkbox" value={{option[0]}} >{{option[1]}}</label>
            {% endif %}
        </h5>
    </div>
{% endfor %}
-->