{% import "bootstrap/wtf.html" as wtf %}

<section> <!--  Product Category Filter   -->
    <div class="col-10 category-filter">
        <h4 class="bd-header-3 text-white text-center">Filter by Category:</h4>
        <div class="row text-center ">
            <input type="hidden" value="{{ request.args.get('type') }}" id="select_product_type"/>
            {{ wtf.quick_form(form) }}
        </div>
    </div>        
</section>

<!--
{% for option in options %}
    <div class="col-12 col-md">
        <h5>
            {% if request.args.get('subtype') == option[0] %}
                <label class="checkbox text-white"><input type="checkbox" value={{option[0]}} checked="checked" >{{option[1]}}</label>
            {% else %}
                <label class="checkbox text-white"><input type="checkbox" value={{option[0]}} >{{option[1]}}</label>
            {% endif %}
        </h5>
    </div>
{% endfor %}
-->