{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Content of the product form -->
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">

        <h1>Add Product</h1>
        <p>Fill out all the forms below</p>

        <!-- Render the forms for adding product -->
        {{ wtf.quick_form(form) }}
        
      </div>
    </div>
  </div>
  <hr>
{% endblock %}

{% block scripts %}
  <script charset="utf-8" type="text/javascript">
    $(function() {
      //jQuery to get the dropdowns
      var dropdown = {
        pt: $('#select_product_type'),
        st: $('#select_sub_type')
      };

      //Call to update dropdowns on load
      updateSubTypes();

      //Function to call XHR and update the subtypes dropdown
      function updateSubTypes() {
        var send = {
          pt: dropdown.pt.val()
        };
        dropdown.st.attr('disabled', 'disabled');
        dropdown.st.empty();
        $.getJSON("{{ url_for('product._get_subtypes') }}", send, function(data) {
          data.forEach(function(item) {
            dropdown.st.append(
              $('<option>', {
                value: item[0],
                text: item[1]
            })
            );
          });
          dropdown.st.removeAttr('disabled');
        });
      }

      //Event listerner for product type dropdown change
      dropdown.pt.on('change', function() {
        updateSubTypes();
      });

    });
  </script>
{% endblock %}