<!-- Card template -->
<div class="bd-content products">
    <!-- Set the title of the site -->
    {% if title %}
        <a href="{{ url_for('main.item_list', type = type) }}">
            <div class="bd-header-2">{{ title }}</div>
        </a>
    {% endif %}
        <div class="products row">
            <!-- Repetition to create multiple product using cards -->
            {% for product in products %}
                <div class="products-card col-xl-2 col-md-4 col-sm-6 col-12 ">
                    <div class="card my-3 card-body text-right">
                        <div class="media">
                            <!-- Display the image of the product -->
                            <img class="card-img align-self-start mr-3" src="/static/img/{{ product.id }}/{{ product.image }}" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-right" style="word-break: break-all;">
                                <!-- Display the item name -->
                                <h5 class="mt-0">{{ product.item_name }}</h5>
                                <!-- Display the item price -->
                                <p class="card-text">${{ product.price }}</p>
                            </div>
                        </div>
                        <!-- Changing the button depend on the stock available -->
                        {% if product.stock %}
                            <a class="text-success">In Stock!</a>
                        {% else %}
                            <a class="text-danger">Out of Stock!</a>
                        {% endif %}
                        <!-- Edit the product -->
                        {% if editMode %}
                            <div class="text-center">
                                <a href="{{ url_for('product._delete_product', id = product.id) }}" class="btn btn-primary mt-2 align-self-center ">Delete</a>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <a href="{{ url_for('product.show', id = product.id) }}" class="btn btn-primary mt-2 align-self-center ">See Product</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

<hr>