<div class="bd-content products">
    <a href="{{ url_for('main.item_list') }}">
        <div class="bd-header-2">{{ title }}</div>
    </a>
        <div class="products col-xl-2 col-md-4 col-sm-6 col-12 ">
            {% for product in products %}
                <div class="card my-3 products-card card-body text-right">
                    <div class="media">
                        <img class="card-img align-self-start mr-3" src="../static/img/{{ product.image }}" alt="Card image" style="width:40%; height: 40%;">
                        <div class="media-body text-right">
                            <h5 class="mt-0">{{ product.album_title }}</h5>
                            <p class="card-text">${{ product.price }}</p>
                        </div>
                    </div>
                    {% if product.stock %}
                        <a class="text-success">In Stock!</a>
                    {% else %}
                        <a class="text-danger">Out of Stock!</a>
                    {% endif %}
                    <div class="text-center">
                        <a href="{{ url_for('main.item_details') }}" class="btn btn-primary mt-2 align-self-center">See Product</a>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

<hr>