<div class="bd-content products">
        <div class="products row">
            {% for ord in order %}
                <div class="products-card col-12 col-md-6">
                    <div class="card my-3 card-body">

                        <!-- Item Details -->
                        <div class="media row">
                            <img class="card-img align-self-start mr-3 col-4 mr-auto" src="/static/img/{{ ord.product_id }}/{{ ord.product.image }}" alt="Card image" style="width:40%; height: 40%;">
                            <div class="media-body text-center col-4">
                                <h5 class="mt-0">{{ ord.product.item_name }}</h5>
                            </div>
                            <div class="text-center col-4 ml-auto">
                                <a href="{{ url_for('product.show', id = ord.product_id) }}" class="btn btn-primary mt-2 align-self-center ">See Product</a>
                            </div>
                        </div>
                        <!-- Order Details -->
                        <div class="row">
                            <p class="card-text col-6 text-left"><b>Order ID:</b></p>
                            <p class="card-text col-6 text-right">{{ ord.id }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-6 text-left"><b>Order Date:</b></p>
                            <p class="card-text col-6 text-right">{{ ord.date_placed.strftime('%d/%m/%Y') }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-6 text-left"><b>Order Quantity:</b></p>
                            <p class="card-text col-6 text-right">{{ ord.quantity }}</p>
                        </div>
                        <div class="row">
                            <p class="card-text col-6 text-left"><b>Order Price:</b></p>
                            <p class="card-text col-6 text-right">${{ ord.quantity * ord.product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

<hr>